.homepage {
  /* height: calc(100vh - 1rem); */
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("../../public/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 2.5rem 5rem; */
  padding: 2.5vw 3rem;
  font-size: clamp(0.5rem, 0.75rem + 1vw, 2rem);
}

.homepage section {
  padding-top: 5vw;
  height: 85%;
  display: flex;
  word-break: normal;
  flex-direction: column;
  gap: 2.5vw;
  align-items: center;
  text-align: center;
}
