.pricing {
  padding: 2.5rem 3rem;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-dark--0);
  font-size: clamp(0.01rem, 0.75rem + 1vw, 1rem);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.pricing section {
  display: flex;
  justify-content: space-around;
}

.pricing section div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.image {
  width: 15rem;
  aspect-ratio: 1;
}

.btn {
  margin-bottom: 1vw;
}

@media screen and (max-width: 650px) {
  .pricing {
    height: 100%;
  }
  .pricing section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .image {
    width: 50vw;
  }
}
