.product {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark--0);
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.product section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product section div {
  width: 50%;
}

.image {
  width: 15rem;
  height: 15rem;
}
