.nav ul {
  list-style: none;
  display: flex;
}
.nav ul li a {
  color: #fff;
  background-color: var(--color-dark--2);
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.nav a:global(.active) {
  color: #fff;
  background-color: var(--color-dark--0);
}
