.cityItem,
.cityItem:visited,
.cityItem:link {
  text-decoration: none;
  border-radius: 0.4rem;
  border-left: 0.5vw solid var(--color-brand--2);
  background-color: var(--color-dark--2);
  color: inherit;
  font-size: 1.8vw;

  padding: 0.5vw 1.5vw;
  display: flex;
  align-items: center;
  gap: 1vw;

  cursor: pointer;
}

.date {
  margin-left: auto;
}

.deleteBtn {
  border: none;
  height: 2vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.5vw;
  font-weight: 400;

  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}
