.countryList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  overflow-y: scroll;
}

.countryList li {
  width: 18vw;
  max-height: fit-content;
  border-radius: 0.4vw;
  border-left: 5px solid var(--color-brand--1);
  background-color: var(--color-dark--2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .countryList {
    grid-template-columns: 1fr;
  }
  .countryList li {
    width: 30vw;
  }
}
