.nav {
  display: flex;
  justify-content: space-between;
}
.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
  position: relative;
}
.nav ul li {
  list-style: none;
  font-size: clamp(0.1rem, 0.75rem + 1vw, 1.5rem);
  margin-left: 2vw;
}
.logo {
  margin-right: auto;
}

.nav ul li a {
  font-weight: 700;
  color: var(--color-light--2);
  text-decoration: none;
}

.btn {
  font-size: clamp(0.1rem, 0.75rem + 1vw, 1rem);
  margin-bottom: 1vw;
}
